doctype html
html
  head
    meta(charset='utf-8')
    title Address de Color
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Address de Color
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/contact') Contact
        li: a(href='/people') People

    h2 Address Book

    each person in people
      .person(style="background-color:#{person.color}")
        h1: a(href=person.website)= person.name
        ul
          li: a(href='mailto:#{person.email}')=person.email
          li= person.phone

